:root {
  --primary-color: #fffdfb;
  --secondary-color: #fde9df;
  --contrast-color: #0881a3;
  --complementory-color: #ffd6a4;
}

body {
  font-family: Google Sans, arial, sans-serif;
  background-color: var(--secondary-color);
}

.elahe-weather-app {
  background: var(--contrast-color);
}

h1 {
  color: var(--secondary-color);
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 26px;
  width: 326px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: var(--secondary-color);
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--contrast-color);
}

.btn:hover {
  background-color: var(--complementory-color);
  color: var(--contrast-color);
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 0;
}

.elahe-weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-top: 70px;
}

.weather-temperature img {
  margin-right: 15px;
  width: 120px;
  height: 120px;
}

.weather-temperature strong {
  color: #212529;
  display: inline;
  font-family: Google Sans, arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.weather-temperature .units {
  color: #70757a;
  font-size: 16px;
  position: relative;
  top: -21px;
}

.coder-name {
  margin-top: 0;
  padding: 0;
  line-height: 0;
  box-sizing: content-box;
  color: black;
  margin-top: -15px;
}

.coder-name a {
  color: var(--contrast-color);
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forcast {
  margin-top: 25px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temps {
  font-size: 13px;
}

.minimum {
  opacity: 0.5;
}

.units a {
  color: black;
}

.units a:active {
  color: var(--secondary-color);
}

a[tabindex]:focus {
  color: var(--secondary-color);
  outline: none;
}

#city {
  padding-top: 30px;
}

#information {
  margin-top: -30px;
}

#temp {
  color: var(--secondary-color);
}
